body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: royalblue;
  color: darkgoldenrod;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

input {
  height: 30px;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  margin-top: 10px;
  padding: 20px;
  width: 200px;
  background-color: darkgoldenrod;
  border: none;
  border-radius: 15px;
  color: royalblue;
  font-size: 25px;
}